<h1>draggable</h1>
<div>
        <img id="img1" ng-click="debug()" draggable="true" ondragstart="drag(event)" src="src/1.jpg" height="240"/>
        <img id="img2" draggable="true" ng-drag ondragstart="drag(event)" src="src/2.jpg" height="240"/>
        <img id="img3" draggable="true" ondragstart="drag(event)" src="src/3.jpg" height="240"/>
        <img id="img4" draggable="true" ondragstart="drag(event)" src="src/4.jpg" height="240"/>
</div>
<div class="container">
        <div id="div1" class="divBox" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div2" class="divBox" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div3" class="divBox" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div4" class="divBox" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
</div>